src/by/epam/tr/lesson19/equipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="assortment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="equipment" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:int"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="cost" type="xs:decimal"/>
							<xs:element name="price" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>